<%- include('_head_login') %>

<body class="text-center">

<form action="/admin/login" method="post" class="form-signin" >
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <div>
        <label for="username" class="sr-only">Username</label>
        <input id="username" type="text"  class="form-control" name="username" placeholder="Username"/>
    </div>
    <div>
        <label for="password" class="sr-only">Password</label>
        <input id="password" type="password"  class="form-control" name="password" placeholder="Password" />
    </div>
    <div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log In"/>
    </div>
</form>


</body>