<%- include('_head') %>

<body class="text-center">
    <form action="/auth/anon" method="post" id="login-form" class="form-signin" >
        <img class="mb-4" src="./img/logo.png" alt="" width="auto" height="120">
        <h1 class="h3 mb-3 font-weight-normal">Choose a name</h1>      
        <div style="margin-top: 10px">
            <label for="name" class="sr-only">Name</label>
            <input id="name" type="text"  class="form-control" name="name" placeholder="Name" />
        </div>
        <small id="passInfo" class="form-text text-muted">As an anonymous user you may not be able to access to the same features as others, such as messaging. If you would like access to this please select another method.</small>
        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Connect anonymously</button>
            <br>
            <p>Or </p>
            <p><a href="/auth/">Select a different method</a></p>
        </div>
    </form>
</body>