<%- include('_head') %>

<body style="background-color: #414449;">
    <div style="position: fixed; width: 100%; height: 100%; background-image: url('./img/logo-white-bg.png'); background-repeat: space; background-size: 200px; opacity: 0.02;"></div>
    <div class="uk-card uk-card-body uk-card-default uk-width-auto uk-position-center uk-text-center uk-padding-large">
        <div class="uk-card-media-top" style="height: 100px; margin-bottom: 20px;">
            <img src="./img/logo.png" style="height: 100%" alt="">
        </div>
        <form action="/auth/anon" method="post" id="login-form" class="form-signin" >
            <h3 class="uk-card-title">Choose a name</h3>
            <div>
                <div class="uk-inline">
                    <button class="uk-button uk-button-text uk-width-1-1" type="button"><span uk-icon="info"></span></button>
                    <div uk-dropdown="pos: right-center">
                        <span class="uk-text-meta" style="width: auto;width:20%;">As an anonymous user you may not be able to access to the same features as others, such as messaging. If you would like access to this please select another method.</span>

                    </div>
                </div>

            </div>
            <div class="uk-margin uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input id="username" type="text"  class="uk-input" name="name" placeholder="Username" />
            </div>
            <br>
            <div style="margin-top: 20px;">
                <button type="submit" class="uk-button uk-button-secondary">Connect anonymously</button>
                <hr class="uk-divider-icon">
                <p class="uk-text-bold ">OR</p>
                <p><a href="/auth/">Select a different method</a></p>
            </div>
        </form>

    </div>
</body>