<head>
    <title>OpenChat</title>
    <meta name="description" content="Free and open-source communication">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="UTF-8">

    <meta property="og:title" content="OpenChat" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="http://example.jp/ogp-icon-200x200.png" />
    <meta property="og:site_name" itemprop="name" content="OpenChat" />
    <meta property="og:description" itemprop="description" content="Open Source Communication" />

    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/openchat.css" />

    <script src="./js/jquery.js"></script>
    <script src="./js/moment.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/peer.js"></script>
    <script src="./js/handlebars.js"></script>
    <script src="./js/anchorme.js"></script>
    <script src="./js/openchat.js"></script>

    <link type="font/opentype" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link type="font/opentype" href="https://fonts.googleapis.com/css2?family=Muli:wght@100..900&display=swap" rel="stylesheet">
</head>