<div id="{{messageID}}" class="message-card">
    <p>
        <strong>{{messageSender}}</strong>
        <i>{{messageDate}}</i>
        <br>
        {{messageContent}}
    </p>
    <div class="ogp-area">

    </div>
</div>