<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>

<body>
  <div class="overlay active" id="connect_overlay">
    <div class="modal" id="connect_modal">
      <h2 class="center-self">Enter a display name</h2>
      <form class="login-form" id="connect_form">
        <input type="text" id="name_input">
        <button>Connect</button>
      </form>
    </div>
  </div>

  <nav>
    <h1 id="server_title"><%= conf.server.name %></h1>
    <a id="nav-close"><i class="fas fa-times"></i></a>
    <div id="channels">
      <h2>Channels</h2>

      <div class="channel-group">
        <h3>Voice</h3>
        <ul id="voice_channels">
        <% conf.server.channels.filter(({ channel_type } )=> channel_type == "voice").forEach(function(e){%>
          <%- include('_channel', {data: e}); %>
        <% }); %>
        </ul>
      </div>

      <div class="channel-group">
        <h3>Text</h3>
        <ul id="text_channels">
          <% conf.server.channels.filter(({ channel_type } )=> channel_type == "text").forEach(function(e){%>
            <%- include('_channel', {data: e}); %>
          <% }); %>
        </ul>
      </div>
    </div>

    <div id="control_area">
      <a id="mute_microphone" class="control-button"><i class="fas fa-microphone fa-lg"></i></a>
      <a id="mute_audio" class="control-button"><i class="fas fa-volume-up fa-lg"></i></a>
      <a id="disconnect_button" class="control-button" style="display: none;"><i
          class="fas fa-phone-slash fa-lg"></i></a>
    </div>

  </nav>

  <main>

    <h2>
      <a id="nav-toggle"><i class="fas fa-bars"></i></a>
      <a id="channel_name"></a>
    </h2>
    <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll;" id="message_scroll">
      <div id="load_messages" style="width: 100%; text-align: center; margin-top: auto; display: none;">
        <a href="#">Load More</a>
      </div>

      <div>
        <ol id="messages">
        
        </ol>
      </div>
    </div>
    <div id="new_message" class="notification bottom hidden">
      <a>New Message</a>
      <div style="display: inline;">
        <a style="cursor: pointer;" id="new_msg_btn">View</a>
        <a style="cursor: pointer; size: 5px; margin-left: 10px;" id="new_msg_close"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <form id="message_input_area">
      <textarea rows="1" id="message_box" disabled></textarea>
      <button id="message_send" disabled>Send</button>
    </form>
  </main>
</body>

<audio id="call_out" autoplay></audio>

<template id="ChatMessage" type="text/x-handlebars-template">
  <div id="{{messageID}}" class="message-card">
    <p>
      <strong>{{messageSender}}</strong>
      <i>{{messageDate}}</i>
      <br>
      {{messageContent}}
    </p>
    <div class="ogp-area">

    </div>
  </div>
</template>

<template id="OGPCard" type="text/x-handlebars-template">
  <div class="ogp-card">
    <img src="{{ogpImageURL}}">
    <p>
      <a target="_blank" href="{{ogpURL}}"><strong>{{ogpSiteName}}</strong>{{ogpTitle}}</a>
      <br>
      {{ogpDesc}}
    </p>
  </div>
</template>

</html>