@import "_users.scss";
@import "_channels.scss";
@import "_messages.scss";
@import "_utils.scss";

html {
  height: 100vh;
  width: 100vw;
  height: -webkit-fill-available;

  ol {
    padding: 0;
    margin: 0;
  }
  
  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
  h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    nav {
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-width: 270px;
      background-color: #f9f9f9;
      box-sizing: border-box;

      .brand {
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        .brand-image {
          max-height: 40px;
          max-width: 100%;
          margin-top: auto;
          margin-bottom: 30px;
          border-radius: 25%;
          margin-left: auto;
          margin-right: auto;
        }
        
        #server_title {
          width: 100%;
          display: flex;
          justify-content: space-between;

          h1{
            font-weight: 500;
            font-family: 'Muli', sans-serif;
            font-size: 24px;
            display: inline-block;
            max-width: 10em;
            word-wrap: break-word;
            margin: 0px;
          }

          .edit_server_btn {
            *{
              display: inline-block;
              position: relative;
              justify-self: flex-end;
              color: #a1a1a1;
            }
          }
        }        
      }

      #control_area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        border-radius: 3px;

        &>* {
          padding: 10px;
          margin: 1px;
          color: black;
          flex-basis: 10%;

          i {
            height: 0px;
            width: 0px;
          }

          &:hover{
            cursor: pointer;
            color: black;
          }
        }
      }
    }

    main{
      #channel-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0px;
        max-height: 100vh;
        overflow: hidden;
        position: relative;

        #channel_info{
          .current_channel_name{
            font-size: 28px;
            margin: 0px;
          }
          .current_channel_desc{

          }
        }
      }
    }
  }

  .interact-menu{
    display: none;
    position: fixed;
    background-color: rgba(255,255,255, 0.6);
    padding: 15px;
    min-width: 10em;
    box-shadow: 0px 0px 5px #aaa;
    z-index: 100;
    border-radius: 5px;
    backdrop-filter: blur(10px);

    ul {
      padding: 0px;
      margin: 0px;

      li {
        text-decoration: none;
        padding:5px;
        list-style-type: none;
        border-radius: 5px;

        &:not(.interact-info){
          cursor: pointer;
        }

        &.disabled {
          cursor: default;
          opacity: 0.5;
        }

        &:not(:last-of-type){
          border-bottom: 1px solid rgba(0,0,0,0.05);
        }

        &:hover:not(.disabled) {
          background-color: rgba(200,200,200,0.1);
        }

        #user-interact-roles{
          margin-top:5px;
          padding: 10px;
          padding-right: 0px;
          background-color: rgba(240,240,240, 0.4);
          border-radius: 5px;

          &>div:not(:last-of-type){
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .toggle>.toggle-content{
    display: none;
    font-size: 0.8em;
  }

  .notification {
    position: absolute;
    bottom: 0%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #a6a6a6;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 550;
    margin-bottom: 100px;
  }

  .hidden {
    display: none;
  }

  .combined-time{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    align-items: center;

    input{
      width: 2em;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 1px;
      border-color: rgba(0,0,0,0.1);
      font-size: 16px;
      text-align: right;
      color: #666;
      padding: 0px;

      &:focus{
        outline: none;
      }

      &[name="days"]{
        width: 3em;
      }
    }

    label {
      margin-top: 0px !important;
    }
    span {
      margin-left: 8px;
      margin-right: 15px;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

/* detect sub 700 wide displays */
#nav-toggle,
#nav-close {
  display: none;
  color: #444444;
}

#nav-toggle * {
  color: #444444;
}

@media screen and (max-width: 700px) {

  /* MAKE NAV 100% WIDTH, SWIPE BETWEEN NAV/ MESSAGES */
  nav {
    overflow-x: auto;
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }

  #global_user_list {
    display: none;
  }

  .channel-content {
    min-width: 100vw;
  }

  .channel-content>h2 {
    display: inline-block;
  }

  .modal {
    width: 80vw;
  }

  .login-form {
    margin-left: auto;
    margin-right: auto;
  }

  .message-card {
    padding: 10px;
  }

  .ogp-card {
    flex-direction: column;
    padding: 5px;
  }

  #nav-toggle {
    display: inline-block;
    padding-right: 30px;
  }

  #nav-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }
}

@media screen and (min-width: 700px) {
  nav {
    overflow-x: auto;
    position: relative;
    display: flex !important;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 275px) {
  /* Too small, reject/ change orientation */

}

@media screen and (max-height: 465px) {
  /* Too small, reject/ change orientation */

}