<div class="yt-container">
    <div class="yt-player" >
    <iframe type="text/html" src="<%= url %>" id="<%= id %>" frameborder="0" width="560" height="349" allowfullscreen="allowfullscreen" onload="if(!this.src.includes(`&parent=${window.location.hostname}`)){this.src = this.src.concat(`&parent=${window.location.hostname}`); fixed = true;}"></iframe>
    </div>
</div>