<li>
    <div id="<%= data.id %>" class="channel">
        <a class="channel-name">
            <%= data.name %>
        </a>
        <% if(req.user.permissions.channels[data.id].edit_channels){ %> 
            <a class="edit_channel_btn">
                <i class="fas fa-cog"></i>
            </a> 
        <% } %>
    </div>
</li>
