<li>
    <div class="channel" id="<%= data.id %>">

        <a class="channel-name">
            <%= data.name %>
        </a>
        <% if(req.user.permissions.global.edit_channels){ %> 
            <a href="#" class="edit_channel_btn">
                <i class="fas fa-cog"></i>
            </a> 
        <% } %>
    </div>
    <ul id="<%= data.id %>-users" class="user-list"></ul>
</li>