<!DOCTYPE html>
<html lang="en">
<%- include('_head', {req}) %>

<body>
  <div id="overlay">
    <%- include('_admin_windows', {req, roles}) %>
    <%- include('_user_settings', {req}) %>
  </div>

  <nav>
    <div class="brand">
      <img id="oc_image" src="./img/logo.svg">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <h1 id="server_title"><%= config.name %></h1>
        <% if(req.user.permissions.global.edit_server || req.user.permissions.global.edit_roles){ %>
          <a href="#" class="edit_server_btn"><span uk-icon="cog"></span></a>
        <% } %>
      </div>
    </div>
    <a id="nav-close"><i class="fas fa-times"></i></a>
    <div id="channel_heading">
      <h4>Channels</h4>
      <% if(req.user.permissions.global.edit_channels){ %>
        <a href="#" id="add_channel_btn"><span uk-icon="plus-circle"></span></a>
      <% } %>
    </div>
    <div id="channels">


    </div>
    <div class="uk-card uk-card-default">
      <div id="control_area">
        <a id="mute_microphone" class="control-button"><i class="fas fa-microphone fa-lg"></i></a>
        <a id="mute_audio" class="control-button"><i class="fas fa-volume-up fa-lg"></i></a>
        <a id="disconnect_button" class="control-button" style="display: none;"><i class="fas fa-phone-slash fa-lg"></i></a>
        <a id="logout_button" class="control-button" href="/auth/logout" style="color: black;" title="Sign Out"><i class="fas fa-sign-out-alt fa-lg"></i></a>
        <a id="user_settings_button" class="control-button"><i class="fas fa-user-cog" title="User Settings"></i></a>
      </div>
    </div>

  </nav>

  <main>
    <div class="channel-content">
    
    <!-- MOVE THIS INTO SEPARATE MESSAGE CONTROLLER -->
    <!-- START -->
    <div id="channel_info">
      <div id="nav-toggle">
        <a  style="font-size: 2em;"><i class="fas fa-bars"></i></a>
      </div>
      <div>
        <p id="channel_name"  class="uk-heading-small uk-text-lighter"></p>
        <p id="channel_description"></p>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll;" id="message_scroll">
      <div id="load_messages" style="width: 100%; text-align: center; margin-top: auto; display: none;">
        <a href="#">Load More</a>
      </div>

      <div style="min-height: 100%;">
        <ol id="messages">
        
        </ol>
      </div>
    </div>

    <div id="new_message" class="notification bottom hidden">
      <div class="content">
        <div>
        <span>New Message</span>
      </div>
      <div>
        <a style="cursor: pointer;" id="new_msg_btn">View</a>
        <a style="cursor: pointer; size: 5px; margin-left: 10px;" id="new_msg_close"><i class="fas fa-times"></i></a>
      </div>
      </div>
    </div>

    
    <% if(req.user.permissions.global.send_message){ %>
      <form id="message_input_area">
          <textarea rows="2" id="message_box" class="uk-textarea"></textarea>
          <button id="message_send" class="uk-button uk-button-default" disabled>Send</button>
      </form>
      <% } else {%>
      <div id="message_input_area">
        <p style="color: grey">You do not have permission to send messages.</p>
      </div>
    <%} %>
    <!-- END -->
    </div>

    <div class="global-user-list">
      <h3 class="uk-heading-divider">Users</h3>
      <h5 class="uk-heading-line"><span>Permanent</span></h5>
      <ul class="perm-users uk-list">
        
      </ul>

      <!-- Add a check for the config.allowanon for whether to display this - also maybe hide if no temp users connected -->
      <h5 class="uk-heading-line"><span>Temporary</span></h5>

      <ul class="temp-users uk-list">
        
      </ul>
    </div>

  </main>
</body>

  <div class="interact-menu">

  </div>
</html>