html {
    font-family: 'Public Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
    background-color: var(--bg);
}

webview {
    display: none;
    border: none;
    height: 100%;
}

webview.active {
    display: block;
}

webview iframe {
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    margin:0px;
}

ol {
    padding: 0;
    margin: 0;
}

main {
    height: 100%;
}

/* TOPBAR */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    box-sizing: content-box;
    min-height: 45px;
    background: #f5f5f5;
    overflow-x: auto;
    box-sizing: border-box;
}

iframe {
    border: none;
}

h4 {
    margin: 0px;
}

#server_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
        min-height: var(--nav-thumb-size);
    margin-left: 20px;

}

#server_list {
    display: flex;
    flex-direction: row;
}

.server-thumbnail {
    display: block;
    border-radius: 25%;
    font-size: var(--nav-thumb-size);
    background-color: var(--bg-darker-10);
    min-height: var(--nav-thumb-size);
    min-width: var(--nav-thumb-size);
    overflow: hidden;
    box-sizing: content-box;
    margin-right: 10px;
}

.server-thumbnail img {
    width: calc(var(--nav-thumb-size) + 20px);
    height: calc(var(--nav-thumb-size) + 20px);
    object-fit: cover;
}

.server-thumbnail i {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    min-height: var(--nav-thumb-size);
    min-width: var(--nav-thumb-size);
    color: var(--accent);
}

#settings_container {
    justify-self: flex-end;
}

#settings_button {
    display: block;
    border-radius: 25%;
    font-size: var(--nav-thumb-size);
    overflow: hidden;
    box-sizing: content-box;
    margin-right: 10px;
}

#settings_button i {
    margin: 10px;
    text-align: center;
    color: var(--bg-darker-20);
}

/* ALIGNMENT */
.center-self {
    text-align: center;
}

div.center-self {
    justify-self: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* CONTROLS */
#control_area {
    padding: 10px;
    margin-top: 10px;
}

.control-button {
    padding: 10px;
    margin: 10px;
}

.control-button i {
    height: 0;
    width: 0;
}

.control-button:hover {
    cursor: pointer;
}

/* NOTIFICATION */
.hidden {
    display: none;
}

/* OVERLAY */
#overlay {
    position: absolute;
    height: -webkit-fill-available;
    width: 100vw;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0, 0.2);
    z-index: 100;
    display: none;
}

.modal {
    border-radius: 7px;
    background: var(--bg);
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 30%;
    min-width: 50vw;
    max-width: 80vw;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modal>.option {
    display: block;
    min-height: 50px;
    border-style: solid;
    border-radius: 10px;
    color: var(--accent-contrast);
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}

.option>div{
    display: inline-block;
    vertical-align: top;
}

.option>.icon{
    font-size: 5vh;
}

.option h3 {
    margin-top: 0px;
}

form>* {
    display: block;
    margin: 10px;
}

form>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form label {
    display: inline-block;
    margin-right: auto
}

form input, form select {
    min-height: 20px;
    display: inline-block;
    background-color: var(--bg);
    outline: none;
    border-color: var(--bg-darker-5);
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    width: 30em;
    max-width: 80%;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px;
}

button {
    color: #ffffff;
    border-color: var(--accent-contrast);
    background-color: var(--accent-contrast);
    border-style: solid;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}

button:hover:focus{
    background-color: var(--accent);
}

/* Title Bar */
#electron-titlebar{
   height : 30px !important;
}

#titlebar {
    height: 30px;
    min-height: 30px;
    background-color: var(--bg-darker-20);
}

#titlebar .title {
    font-size: 14px;
    margin-left: 10px;
    line-height: 30px;
    color: #515151;
    font-weight: bold;
}

/* Dark Mode */
.dark #titlebar .title {
    color: var(--accent-contrast);
}

.dark #titlebar {
    background-color: rgb(24, 26, 27);
}

.dark {
    background-color: #313131;
}

.dark nav {
    background-color: rgb(30, 32, 33);
}

.dark #settings_button i{
    color: #a1a1a1;
}
.dark #settings label, .dark #settings input, .dark #settings select{
    color: #aaaaaa
} 
.dark #settings h2{
    color: #9a9a9a
} 

.dark #electron-titlebar img{
    filter: invert(1);
}