:root {
    /* COLORS */
    /* BACKGROUND */
    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 100%;

    /* ACCENT */
    --accent-h: 150;
    --accent-s: 60%;
    --accent-l: 75%;

    /* CALCULATED VALUES*/
    --bg: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
    --bg-darker-5: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .95));
    --bg-darker-10: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .9));
    --bg-darker-15: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .85));
    --bg-darker-20: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .8));
    --bg-darker-40: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .6));
    --bg-darker-60: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .4));
    --bg-darker-80: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * .2));

    --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --accent-contrast: hsl(var(--accent-h), calc(var(--accent-s) / 0.8), calc(var(--accent-l) * 0.8));
}

html {
    font-family: 'Public Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

ol {
    padding: 0;
    margin: 0;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* SIDEBAR */
nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #f2f2f2;
    min-width: 270px;
}

.brand {
    margin-top: 5px;
    margin-bottom: 10px;
}

#oc_image {
    height: 20px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25%;
}

#server_title {
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    display: inline-block;
    margin: 0px;
}


/* ALIGNMENT */
.center-self {
    text-align: center;
}

div.center-self {
    justify-self: center;
}

/* CHANNELS */
#channels {
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

#channel_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

#channel_heading a {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    color: #161616;
    justify-self: flex-start;
    margin-top: 0px;
}

.channel-group {
    justify-self: flex-start;
}

.channel-group>h4 {
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    margin-top: 5px;
    color: darkgrey;
}

.channel-group>ul{
    padding-left: 5px;
}

.channel-group>ul>li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    background: #fafafa;
    margin-right: 20px;
    margin-bottom: 10px;
}

.channel-group>ul>li:hover {
    background: #f5f5f5;
}

.channel-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channel{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    flex-grow: 2;
}
.channel-name>a.edit_channel_btn{
    display: inline-block;
    position: relative;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    margin-left: auto;
    justify-self: flex-end;
    color: #afafaf;
}

.channel:hover{
    cursor: pointer;
}

#channels .active {
    box-shadow: 0px 0px 6px 1px rgba(22,66,199,0.52);
}

#channels .active>a {
    color: rgba(22,66,199,0.52);
}

#channels .active:hover {
    background: none;
}

#channels .active a.channel:hover {
    cursor: default;
}

.user-list{
    position: relative;
    list-style: none;
    height: auto;
    padding: 1px;
    padding-left: 10px;
}

.user-list li{
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}

.user-list li:last-of-type{
    margin-bottom: 20px;
}


.user-list>li:first-of-type::before{
    content:'';
    width:100%;
    height: 1px;
    left:0;
    top: -10px;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.2) 0%, hsla(0, 0%, 0%, 0.2) 33%, hsla(0, 0%, 0%, 0) 90%);
    position: absolute;
}

/* CONTROLS */
#control_area {
    justify-self: space-between;
    padding: 10px;
    margin-top: 10px;
}

.control-button {
    padding: 10px;
    margin: 10px;
}

.control-button i {
    height: 0;
    width: 0;
}

.control-button:hover {
    cursor: pointer;
}

/* NOTIFICATION */
.notification {
    position: absolute;
    bottom: 0%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #a6a6a6;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 550;
    margin-bottom: 100px;
}

.hidden {
    display: none;
}

/* MESSAGE AREA */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

#channel_info {
    padding-left: 20px;
    position: relative;
}

#channel_info::after {
    content:'';
    width:100%;
    height: 1px;
    left:0;
    bottom: 0px;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.1) 0%, hsla(0, 0%, 0%, 0.1) 33%, hsla(0, 0%, 0%, 0) 90%);
    box-shadow:  0px 7px 14px rgba(0,0,0,0.2);
    position: absolute;
}

#message_scroll {
    position: relative;
}

#messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    box-sizing: content-box;
    min-height: 100%;
}

.message-card {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;
    word-wrap: break-word;
}

.message-card:hover{
    background: #fafafa;
}

.ogp-card {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    background: #f6f6f6;
    padding: 20px;
    align-items: flex-start;
    width: auto;
    max-width: 800px;
}

.ogp-card img {
    max-height: 50px;
    margin-right: 30px;
}

.ogp-card p {
    margin: 0px;
}

#no_messages {
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#no_messages a {
    font-size: 36px;
    font-weight: 600;
    color: darkgrey;
}

#load_messages {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    margin-bottom: 20px;
}

#load_messages a {
    text-decoration: none;
    border: #ebe9e9;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    color: darkgrey;
}

#load_messages a:focus:hover {
    background-color: #f6f6f6;
}

.yt-container {
    width: 100%;
    height: 100%;
    max-width: 520px;
    max-height: 292.5px;
    margin-bottom: 20px;
}

.yt-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    box-sizing: border-box;
}

.yt-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* MESSAGE INPUT */
#message_input_area {
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    background: #fcfcfc;
    box-shadow:  0px -7px 14px #ededed;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#message_box {
    flex-grow: 1;
    width:100%;
    color: grey;
    border-radius: 28px 0px 0px 28px;
    background: #ededed;
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 1.3em;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}

#message_box:focus {
    outline: none;
}

#message_box::-webkit-scrollbar {
    display: none;
}

#message_send {
    border-radius: 0px 32px 32px 0px;
    background: #fdfdfd;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa;
    padding-left: 10px;
    padding-right: 20px;
}

#message_send:focus {
    outline: none;
}

#message_send:disabled:hover {
    cursor: default;
}

#message_send:hover {
    cursor: pointer;
}

#message_send:focus:hover {
    background: #d1d1d1;
}

/* OVERLAY */
#overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0, 0.2);
    z-index: 100;
    display: none;
}

.modal {
    border-radius: 3%;
    background: var(--bg-darker-5);
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 30%;
    min-width: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.modal * {
    margin: 10px;
}

.modal input {
    display: block;
    background-color: var(--bg);
    outline: none;
    border-color: var(--bg-darker-5);
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;

}

.modal input.large {
    width: 100%;
}

.modal input[type=radio] {
    display: inline;
}

.modal label {
    display: inline;
}

.modal button {
    display: block;
    color: var(--accent-contrast);
    border-color: var(--accent-contrast);
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.modal button:hover:focus{
    background-color: var(--accent);
}

/* detect sub 700 wide displays */
#nav-toggle, #nav-close {
    display: none;
}

@media screen and ( max-width: 700px ) {
    /* MAKE NAV 100% WIDTH, SWIPE BETWEEN NAV/ MESSAGES */
    nav {
        overflow-x: auto;
        position: fixed;
        z-index: 99;
        display: none;
        width : 100vw;
        height : 100vh;
    }

    main {
        min-width: 100vw;
    }

    main>h2{
        display: inline-block;
    }

    .modal {
        width: 80vw;
    }

    .login-form {
        margin-left: auto;
        margin-right: auto;
    }

    #messages {
        padding-left: 20px;
        padding-right: 20px;
    }

    .message-card {
        padding: 10px;
    }

    .ogp-card {
        flex-direction: column;
        padding: 5px;
    }

    #channels {
        min-height: 20vh;
        height: auto;
    }

    #nav-toggle{
        display: inline-block;
    }

    #nav-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
    }
}

@media screen and ( min-width: 700px ) {
    nav {
        overflow-x: auto;
        position: relative;
        display: flex !important;
        width : auto;
        height : auto;
    }
}

@media screen and ( max-width: 275px ) {
    /* Too small, reject/ change orientation */

}

@media screen and ( max-height: 465px ) {
    /* Too small, reject/ change orientation */

}