<div class="ogp-card">
  <div class="appleMusic-embed">
    <iframe allow="encrypted-media *;" frameborder="0" width="100%"  height="100%" sandbox="allow-forms allow-popups allow-same-origin allow-scripts" src="<%- url %>"></iframe>
  </div>
</div>

