<div class="ogp-card">
  <div class="spotify-embed">
  <iframe type="text/html" src="<%= url %>" frameborder="0" width="100%" height="100%" allowtransparency="true" allow="encrypted-media" onload="if(this.src.includes('/track/')){$(this).parent().css('height', '80px')}"></iframe>
  </div>
</div>